# Compiled stuff
/target

# Resources folder (because of lack of ownership)
/resources

# Rendered HTML
*.html

# Java book stuff
/java-*

# Generated automatically during build
src/expr.rs
src/stmt.rs
